<html>
  <head>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
    <title>Personal Site</title>
  </head>
  <body>
    <h1>Blog</h1>
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <article class="blog_post">
      <header>
        <h1>First Post</h1>
        <p>By Ty Mazey</p>
      </header>
      <p>Hey this first post is pretty neat, we could write all sorts of bloggy things. Imagine that!</p>
    </article>
    <article class="blog_post">
      <header>
        <h1>Second Post</h1>
        <p>By Ty Mazey</p>
      </header>
      <p>The second post on the blog. Now with pictures ;)</p>
       <img src="https://i.makeagif.com/media/1-11-2018/nvvhmk.gif" alt="Uhhh... Dancing TelleTubbi">
    </article>
  </body>
</html>
